.background{
  background-color: #ffffff;
  background-size: cover;
}
.Describe{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
} 
.subheading{
  font-family: "Simplon Norm";
  font-size: 50px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 1px;
  text-align: center; 
  padding-bottom: 0px; 
  margin-bottom: 0px;

} 

@media (max-width:767px){
  .subheading{
    font-family: Simplon Norm;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center; 
  padding-bottom: 0px;
  margin-bottom: 0px;

  }
} 
.secondSub{ 
  font-family: "Simplon Norm";
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  text-align: center; 
  width:721px;
  height:80px; 
  padding-top: 0px;
  

} 

@media (max-width:767px){
  .secondSub{ 
    font-family: Simplon Norm;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center; 
    width:343px; 
    height:66px; 
    padding-top: 0px;
    

  }
} 
.filterRow{
  display: flex; 
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;  
  border: 1px solid #E5E5E5; 
  
  
}  

@media(min-width:768px){ 
  .filterRow{
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;  
    border: 1px solid #E5E5E5; 
    margin-left:30px; 
    margin-right: 30px; 
    margin-bottom: 1px;
  }  

}
.itemsAndHide{
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
  align-items: center; 
  
}  
@media (max-width:767px){
  .itemsAndHide{
    display: none;
  }
} 
@media (min-width:768px){
  .filter{
    display: none;
  } 

.filter{
font-family: "Simplon Norm";
font-size: 14px;
font-weight: 700;
line-height: 16.8px;
text-align: left;
color: #252020;

}
}
.horizinatalLone{
  display:none;
} 
@media (max-width:767px){
  .horizinatalLone{
     
    border: 1px solid #E5E5E5
  } 
}  

.literSelecter{
  border: transparent; 
  background-color: #ffffff;
} 

.items{
  font-family: Simplon Norm;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-align: left; 
  margin-right: 3px;
  padding-right: 3px;

} 
.showItems{
  text-decoration: underline;
}  

.fiterAndProducts{
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  padding-left: 30px; 
  padding-right: 30px;
}  
.productDispaly{
  list-style-type: none; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
} 
@media (max-width:767px){
  .fiterAndProducts{
    display: none;
  }
} 
.onlyProducts{
  display: none;
} 
@media (max-width:767px){
  .onlyProducts{
    display: block;
  }
}